<footer>
    <div class="center">
        &copy;
        <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
        Fox Foxington
    </div>

</footer>
</body>
</html>