<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fox Foxington</title>
</head>
<body>
    <body style="background-color:#171a1d; color: rgb(123, 62, 221);">
<h1>Fox Foxington's Resume</h1>

<h3>
    <a href="/resume/">Home</a>
    <a href="/resume/hobbies">Hobbies</a>
    <a href="/resume/contact">Contact</a> 
    <a href="/resume/projects">Projects</a> 
</h3>