<%- include("partials/header.ejs") %>
    <p>
        Welcome to my project zone, where all the magic will happen... eventually!
        😅 I've got these ginormous plans for some seriously epic stuff, but
        first, gotta brainstorm some super cool ideas! 🤔 Oh wait, did I say
        'first'? Scratch that, I might've, umm... totally forgot! 😄 But hey, stay
        tuned! Who knows what awesomeness awaits in the whimsical world of my
        creations! 🌟
      </p>
      <%- include("partials/footer.ejs") %>